.Main {
    text-align: center;
  }
  
  .Main-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    font-size: calc(10px + 1vmin);
    color: white;
  }
  
  .Main-link {
    color: #61dafb;
  }

  .project-title {
    padding: 30px;
    padding-bottom: 30px;
  }

  .upper-case {
    color: lightblue;
  }
  
  .sub-area {
    padding-bottom: 40px;
  }

  .sub-title {
    
    padding-bottom: 10px;
  }
  
  .question {
    font-size: 12px;
  }

  .start-btn {
    width: 100px;
    height: 40px;
    background-color: lightblue;
    color: black;
    font-family: monospace;
    font-weight: bold;
    border: lightblue;
    border-radius: 5px;
  }

  .start-btn:hover {
    background-color:lightskyblue;
  }
  