.navBar {
    text-align: left;
    float: left;
  }
  
  .nav-item {
    background-color: #282c34;
    margin: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .link {
    color: #61dafb;
  }

  