

.navBar {
    text-align: center;
    display: flex;
    line-height: 45x;
    align-items: center;
  }
  
  .nav-item {
    margin: 5px;
    padding: 15px;
    font-size: calc(25px);
    color: black;
    max-width: 40px;
    max-height: 20px;
    display: inline;
    align-items: center;
  }
  
  .nav-item:hover {
    color: lightblue;
  }
  
  .link {
    text-decoration: none;
  }

  #bar-icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
  
  