.QnA {
    text-align: center;
  }
  
  .content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .question {
    display: flex;
    font-size: 12px;
  }

  .answer {
    display: flex;
  }
  