.main_body {
  padding-top: 5%;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: calc(10px + 1vmin);
}

.main_title {
  padding-top: 10%;
  justify-content: stretch;
  font-size: calc(20px + 1vmin);
  font-weight: bold;
  font-family: Verdana;
}

.main-link {
  color: #61dafb;
}

.project_title {
  padding: 30px;
  padding-bottom: 30px;
}

.sub-area {
  padding-bottom: 40px;
}

.sub-title {
  
  padding-bottom: 10px;
}

.start_btn {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 15px 0;
  background-color: lightblue;
  align-items: center;
  color: black;
  font-family: monospace;
  font-weight: bold;
  border: lightblue;
  border-radius: 5px;
}

.start-btn:hover {
  background-color:lightskyblue;
}
