.main_body {
  align-items: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: calc(10px + 1vmin);
}

.main_title {
  padding-top: 5%;
  justify-content: stretch;
  font-size: calc(20px + 1vmin);
  font-weight: bold;
  font-family: Verdana;
}

.main_list {
  display: block;
}

.main_item {
  display: block;
}

.main-link {
  color: #61dafb;
}

.video_section { 
  padding: 20px;
  /* background-color: aqua; */
}

.video_list{
  padding-left: 20px;
}

.video_item{
  padding: 10px;
}


.video_link{
  font-weight: bold;
  text-decoration: none;
}


.project_title {
  padding: 30px;
  padding-bottom: 30px;
}

.sub-area {
  padding-bottom: 40px;
}

.sub_title {
  padding: 20px ;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}

.start_btn {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 15px 0;
  background-color: lightblue;
  align-items: center;
  color: black;
  font-family: monospace;
  font-weight: bold;
  border: lightblue;
  border-radius: 5px;
}

.start-btn:hover {
  background-color:lightskyblue;
}
