.main_body {
  align-items: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: calc(10px + 1vmin);
}

.main_title {
  padding-top: 5%;
  justify-content: stretch;
  font-size: calc(20px + 1vmin);
  font-weight: bold;
  font-family: Verdana;
}

.main_list {
  display: block;
}

.main_item {
  display: block;
}

.main-link {
  color: #61dafb;
}

.video_section { 
  display: block;
  padding: 20px;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.video_list{
  display: flex;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.video_item{
  max-width: 300px;
  margin: 10px;
}


.video_link{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.video_introduction{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkgray;
  margin-top: 10px;
  padding-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: 1px #282c34 solid;
}


.project_title {
  padding: 30px;
  padding-bottom: 30px;
}

.sub-area {
  padding-bottom: 40px;
}

.sub_title {
  display: flex;
  justify-content: center;
  padding: 20px ;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}

.write {
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}

.start_btn {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: lightblue;
  align-items: center;
  color: black;
  font-family: monospace;
  font-weight: bold;
  border: lightblue;
  border-radius: 5px;
}

.start-btn:hover {
  background-color:lightskyblue;
}
