.navBar {
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Verdana;
  border-bottom: 1px #282c34 solid;
}

.nav-item:hover {
  color: lightblue;
}

.nav_homelink {
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

.nav_homelink > .uppercase {
  color: lightblue;
}

.nav_homelink > .downcase {
  color: black;
}

.nav_menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

.nav_menu > .signup_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1rem;
}


.nav_menu > .disable {
  display: none;
}
