.editor_title {
    font-family: Verdana;
    padding: 20px 50px;
    font: bold;
    font-size: calc(20px + 1vmin);
}

.editor_section {
    padding: 0px 50px;
}

.editor_body {
    align-items: center;
    display: block;
    height: 500px;
    flex-direction: column;
    justify-content: stretch;
    font-size: calc(1px + 1vmin);
    /* margin: 10px calc(20px + 1vmin); */
}


.input_row {
    padding-bottom: 10px;
    min-width: 500px;
}

.input_label {
    font-family: Verdana;
}

.input {
    display: block;
    width: calc(100% - 10px);
    padding: 5px 5px;
    max-height: 50px;
}

.view_section {
    padding: 40px 15%;
}

.post_info {
    border-bottom: solid 1px gainsboro;
    padding: 10px 0px;
}

.post_title {
    font: bold;
    font-family: Verdana;
    font-size: calc(20px + 1vmin);
    padding-bottom: 10px;
}

.markdown_section {
    min-height: 300px;
    border-bottom: solid 1px gainsboro;
    margin-bottom: 10px;
}

.button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.submit_button {
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 30%;
    box-shadow: 0 0 0 0;
    border-radius: 5px;
    color: lightblue;
    background-color: black;
    border-color: black;
}
  