.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 400px;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(211, 220, 231); */
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid black;
}

.info {
    padding-bottom: 10px;
}

.profile_container {
    width: 150px;
    height: 150px;
    border-radius: 80%;
    overflow: hidden;
    /* padding: 0px 10px; */
    border: 1px;
}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.name {
    font-size: 1.5rem;
}

.icon {
    margin-left: 10px;
    padding-top: 5px;
    width: 1.5rem;
    height: 100%;
}

.function {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.func_btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: initial;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 5px;
    display: block;
}

.func_btn:hover {
    text-decoration: underline;
    text-decoration-color: gray;
}
