.body {
    min-height: 500px;
    margin: 10% 5%;
    /* display: flex; */
    background-color: antiquewhite;
    /* text-align: center; */
    place-items: center;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.info {
    padding-left: 20px;
    padding-bottom: 10px;
}

.profile_container {
    padding: 0px 10px;
    border: 1px;
}

.signup_row {
    padding-bottom: 30px;
    min-width: 500px;
}

.row_label{
    margin: 5px;
    font-size: 15px;
}

.input {
    min-width: 100%;
    padding: 10px;
    border-width: 2px;
    border-style: inset;
    border-color: gray;
    border-radius: 5px;
}

.description {
    color: gray;
    font-size: 15px;
}

.signup_last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_button {
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 50%;
}

.disable {
    display: none;
}

  